a {
  color: inherit;
  text-decoration-color: #0fa1c2;
}

.button-hover-light-text:hover {
  color: #fffacc;
}

.focus-border:focus {
  -webkit-box-shadow: inset 0px 0px 0px 1px #024564;
  -moz-box-shadow: inset 0px 0px 0px 1px #024564;
  box-shadow: inset 0px 0px 0px 1px #024564;
}
